
.container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.model{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 50px;
	left: 0px;
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10000;
}
.inner_container{
	position: relative;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.inner_container h2{
	text-align: center;
	color: grey;
	margin-top: 80px;
}
#cancel{
	position: absolute;
	padding: 10px 20px 10px 20px;
	border: none;
	bottom: 10px;
	border-radius: 5px;
	left: 10px;
	background-color: #add8e6;
	cursor: pointer;
}
#delete{
	padding: 10px 20px 10px 20px;
	border: none;
	position: absolute;
	border-radius: 5px;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	background-color: #f00e0e;
}
.heading{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	text-align: center;
	margin-bottom: 30px;
}
.article{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
	padding: 20px;
}
.inner_left{
	width: 20%;
}
.article_image{
	width: 100%;
}
.center{
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.inner_center{
	width: 70%;
}
.inner_right{
	width: 20%;
}
.content{
	color: grey;
}
.icon{
	font-size: 20px;
	color: white;
	padding: 5px 10px 5px 10px;
	background-color: grey;
	border-radius: 4px;
	margin-left: 10px;
}
.icon:hover{
	cursor: pointer;
	color: black;
}
a, a:hover{
	text-decoration: none;
	color: grey;
}
.pages{
	margin-top: 30px;
	text-align: center;
	padding-bottom: 30px;
}
.inner_number{
	margin-left: 5px;
	background-color: grey;
	color: white;
	cursor: pointer;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}

@media screen and (max-width: 800px){
	.article{
		flex-direction: column;
	}
	.inner_left{
		width: 50%;
	}
}
.message{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	background-color: black;
	text-align: center;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.delete_message{
	height: 35px;
	width: 35px;
	color: white;
	border-radius: 35px;
	line-height: 35px;
	text-align: center;
	background-color: rgb(50, 50, 50);
	cursor: pointer;
}
.delete_message:hover{
	background-color: rgb(100, 100, 100);
}

#bottom_messages{
	position: fixed;
	bottom: 30px;
	left: 10px;
	width: 400px;
}
@keyframes slide_in{
	0%{
		bottom: 0px;
		left: -200px;
	}
	100%{
		bottom: 0px;
		left: 40px;
	}
}
.text_message{
	width: 70%;
	text-align: center;
}
.bottom_message{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	background-color: black;
	border-radius: 10px;
	text-align: center;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	animation-name: slide_in;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}