{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Articles</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/bookmarks.css' %}" type="text/css">
	</head>
	<body>
		<div class="Outer_navbar_wrapper">
			<div class="Navbar_wrapper">
				<div class="left">
					<a href="{% url 'home' %}"><div class="nav_item" id="logo">FATMUG</div></a>
					<div class="nav_item" id="greeting">Greetings! {{request.user}}</div>
				</div>
				<div class="right">
					<a href="{% url 'bookmarks' %}"><div class="nav_item left_items" style="background-color: grey; color: white; border: 1px solid grey">Bookmarks</div></a>
					<a href="{% url 'write' %}"><div class="nav_item left_items">Write</div></a>
					<a href="{% url 'your_articles' %}"><div class="nav_item left_items">Your Articles</div></a>
					<a href="{% url 'logout' %}"><div class="nav_item left_items">Logout</div></a>
					<div class="nav_item left_items" id="special" onclick="change()"><i class="fas fa-bars"></i></div>
				</div>
			</div>	
			<div class="hidden">
				<a href="{% url 'bookmarks' %}"><div class="hidden_items">Bookmarks</div></a>
				<a href="{% url 'write' %}"><div class="hidden_items">Write</div></a>
				<a href="{% url 'your_articles' %}"><div class="hidden_items">Your Articles</div></a>
				<a href="{% url 'logout' %}"><div class="hidden_items">Logout</div></a>
			</div>
		</div>
		<script src="{% static 'js/navbar.js' %}"></script>
		<div id="bottom_messages">
			{% if messages %}
				{% for message in messages %}
					<div class="bottom_message"><span class="text_message">{{message}}</span><span class="delete_message" onclick="delete_message(this)">X</span></div>
				{% endfor %}
			{% endif %}
		</div>
		<div id="messages">
			{% if messages %}
				{% for message in messages %}
					<div class="message"><span class="text_message">{{message}}</span><span class="delete_message" onclick="delete_message(this)">X</span></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="container">
			<h2 class="heading">YOUR BOOKMARKED ARTICLES</h2>
			<div class="outer_articles">
				
			</div>
		</div>
		<div class="pages">
			<span class="page_numbering">
				{% for i in count %}
					<span class="inner_number" onclick="page_change(this)">{{forloop.counter}}</span>
				{% endfor %}
			</span>
		</div>
		{% csrf_token %}
		<script src="{% static 'js/bookmarks.js' %}"></script>	
	</body>
</html>