{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Navbar</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
	</head>
	<body>
		<div class="Outer_navbar_wrapper">
			<div class="Navbar_wrapper">
				<div class="left">
					<a href="{% url 'home' %}"><div class="nav_item" id="logo">PROJECT</div></a>
					<div class="nav_item" id="greeting">Greetings! {{request.user}}</div>
				</div>
				<div class="right">
					<a href="{% url 'bookmarks' %}"><div class="nav_item left_items">Bookmarks</div></a>
					<a href="{% url 'write' %}"><div class="nav_item left_items">Write</div></a>
					<a href="{% url 'your_articles' %}"><div class="nav_item left_items">Your Articles</div></a>
					<a href="{% url 'logout' %}"><div class="nav_item left_items">Logout</div></a>
					<div class="nav_item left_items" id="special" onclick="change()"><i class="fas fa-bars"></i></div>
				</div>
			</div>	
			<div class="search">
				<input type="text" placeholder="Search articles" class="search-input"/>
				<span class="search-icon"><i class="fas fa-search"></i></span>
			</div>
			<div class="hidden">
				<a href="{% url 'bookmarks' %}"><div class="hidden_items">Bookmarks</div></a>
				<a href="{% url 'write' %}"><div class="hidden_items">Write</div></a>
				<a href="{% url 'your_articles' %}"><div class="hidden_items">Your Articles</div></a>
				<a href="{% url 'logout' %}"><div class="hidden_items">Logout</div></a>
			</div>
		</div>
		<script src="{% static 'js/navbar.js' %}"></script>
	</body>
</html>