{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/view_article.css' %}" type="text/css">
	</head>
	<body>
		<div class="Outer_navbar_wrapper">
			<div class="Navbar_wrapper">
				<div class="left">
					<a href="{% url 'home' %}"><div class="nav_item" id="logo">FATMUG</div></a>
					<div class="nav_item" id="greeting">Greetings! {{request.user}}</div>
				</div>
				<div class="right">
					<a href="{% url 'bookmarks' %}"><div class="nav_item left_items">Bookmarks</div></a>
					<a href="{% url 'write' %}"><div class="nav_item left_items">Write</div></a>
					<a href="{% url 'your_articles' %}"><div class="nav_item left_items">Your Articles</div></a>
					<a href="{% url 'logout' %}"><div class="nav_item left_items">Logout</div></a>
					<div class="nav_item left_items" id="special" onclick="change()"><i class="fas fa-bars"></i></div>
				</div>
			</div>	
			<div class="hidden">
				<a href="{% url 'bookmarks' %}"><div class="hidden_items">Bookmarks</div></a>
				<a href="{% url 'write' %}"><div class="hidden_items">Write</div></a>
				<a href="{% url 'your_articles' %}"><div class="hidden_items">Your Articles</div></a>
				<a href="{% url 'logout' %}"><div class="hidden_items">Logout</div></a>
			</div>
		</div>
		<script src="{% static 'js/navbar.js' %}"></script>
		<div class="reading"><span class="hover_element">Click here after reading</span><a href="{% url 'done_reading' article.pk %}"><span class="reading_button" onclick="done_reading()" onmouseover="hovering()" onmouseout="not_hovering()">Read</span></div>
		<div class="Outer_wrapper">
			<div class="image_area">
				<img class="image" src="/media/{{article.image}}">
			</div>
			<div class="article">
				<h1 class="heading">{{article.title}}</h1>
				<p class="content">
					{{article.content}}
				</p>
				<p class="author">by <span class="dark">{{article.author}}</span>, dated: <span class="dark">{{article.date}}</span></p>
			</div>
		</div>
		<script src="{% static 'js/view_article.js' %}"></script>
	</body>
</html>